<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Foodmap</title>
</head>
<body class="grad10">
  <header>
    <h1 class="foodmap text-center">Foodmap</h1>
    <div class="container-fluid">
      <hr>
      <div class="cuadrado box-left"></div>
      <div class="cuadrado box-right"></div>
    </div>
  </header>
  <main>
    <section id="map" class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCT2GpxF7X_3dlLQVdNOqmzlHBaJVHXwwA&q=restaurants+in+Sajn Juan de Lurigancho"></iframe>
        </div>
      </div>
    </section>
    <section id="filter" class="container-fluid">
      <h3 class="h3 text-center h3-foodmap">Restaurant cerca</h3>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" id="search-bar" class="form-control" placeholder="¿Qué desea comer hoy?">
        </div>
      </form>
    </section>
    <section id="results" class="container-fluid">
      <div class="row">
        <ul class="list-unstyled clearfix"></ul>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/app.js"></script> 
</body>
</html>